name: CI Build and Test

permissions:
  contents: read
  actions: read

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

    - name: Set up JDK 17
      uses: actions/setup-java@de5a937a1dc73fbc1a67d7d1aa4bebc1082f3190
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build and Run Tests
      run: mvn -B clean verify
